<%- include('../partials/header.ejs') %>

  <div class="p-3">
    <a href="/addTip" class="btn btn-primary">Add New Tip</a>
  </div>

    <div class="d-flex flex-row justify-content-between mb-3">
        <div class="d-flex flex-column p-3 w-100">
          <div class="table-responsive">

            <table class="table">
              <thead class="table-light">
                <tr>
                  <th>Country</th>
                  <th>League</th>
                  <th>Fixture</th>
                  <th>Outcome</th>
                  <th>Time</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>England</td>
                  <td>English Premier League</td>
                  <td>Leeds United vs Manchester United</td>
                  <td>Draw</td>
                  <td>18:00 hrs</td>
                  <td>2022-12-25</td>
                  <td><a href="">Delete</a></td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>Mark</td>
                  <td>Mark</td>
                  <td>Mark</td>
                  <td><a href="">Delete</a></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
    </div>


<%- include('../partials/footer.ejs') %>
   
